<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordManager">
        <receiver
            android:name=".widgets.addcredential.AddCredentialWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/add_credential_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.stats.StatsWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_widget_info" />
        </receiver>

        <activity
            android:name=".activities.FirstTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WidgetConfigurationActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UnlockWidgetActivity"
            android:exported="false" />

        <receiver
            android:name=".widgets.credentials.CredentialsWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/password_manager_widget_info" />
        </receiver>

        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
Beyond the requirements listed in Declare a widget in the manifest,
        you need to make it possible for widgets with collections to bind to your RemoteViewsService.
        Do this by declaring the service in your manifest file with the permission BIND_REMOTEVIEWS.
        This prevents other applications from freely accessing your widget's data.
        -->
        <service
            android:name=".widgets.credentials.CredentialsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>